<div id="picbox">
    <span id="boxbuttons">
        <span class="button">
            <a onclick="ResetGame();">Start new game</a>
            </span> 
        <span class="button">
            <span id="counter">0</span>
            Clicks
        </span>
    </span>
    <div id="boxcard"></div>
</div>