<div class="jumbotron text-center">
        <h3>Instructions: Instructions how to use the game</h3>
        <hr>
        <p>The game made by Javascript. The user should play the Concentration
            game alone. The user can turn cards until he collected all pairs. Initially the game will
            show a 4x4 grid (16 cards in total, 2x8 of them unique). When the "Game" page is
            opened, the cards are shown with the face down and are shuffled randomly by the
            algorithm. The player can then click on a card to turn it and see the image on the
            card. The user then clicks on the second card to turn also the second card. If both
            cards show the same image, the cards are taken away from the table and the user
            gets a point. If the cards show different images, after a timeout, they are turned face-
            down again. After the user successfully collects all cards, a message will show with
            congratulations, informing the user of the number of moves he needed to collect all
            cards. Then the user can click on a button/link "Start new game" to start the game
            again.-------- Good luck
        </p>
    </div>