<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Concentration Game</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/games.css">
  <script src="js/jquery-3.3.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/games.js"></script>
</head>
<body> 
  <div class="container"></div>
  <div class="flex-container">
    <div> <%- include('header'); -%></div>
    <div> <%- body %> </div>
    <div class="footer-element"> <%- include('footer'); -%> </div>
  </div>
</body>
</html>