
body {
	color: #fff;
    background: #fff;
}
#picbox {
	margin: 0px auto;
	width: 600px;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #fff;
  }
#boxcard {
	z-index: 1;
	margin-left: 80px;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid saddlebrown;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
    background: #B1B1B1;
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 5px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: black;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}
.flex-container {
	display: flex;
	flex-direction: column;
  }

  footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #343a40;
	color: white;
	text-align: center;
   }
 a{
	 color: #fff;
	 text-decoration: none;
 }
 a:hover {
	color: #fff;
	text-decoration: none;
 }
 .jumbotron{
	 color: black;
 }